<mat-toolbar>
  <div id="image_logo">
    <img src="./logo.svg" alt="logo">
  </div>
    <span>Green Innovation</span>
    <!--<span class="example-spacer"></span>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
    </ul>-->
    <span class="example-spacer"></span>
    <div *ngIf="user$ | async as user">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        
          <button mat-menu-item #loggedOut (click)="logout()">
            <mat-icon>meeting_room</mat-icon>
            <span>Logout</span>
          </button>
      </mat-menu>
    </div>
</mat-toolbar>
  
<section id="content">
    <div id="content_card">
        
        <form [formGroup]="tweetform" (ngSubmit)="onSubmit()">
            <div class="container">
                <mat-form-field appearance="outline">
                    <mat-label>What's happening</mat-label>
                    <textarea matInput formControlName="text"></textarea>
                </mat-form-field>
            </div>
            <button mat-stroked-button color="primary" type="submit" class="bg-blue" (click)="sendMessage()">Tweet</button>
        </form>

        <app-card></app-card>   
    </div>
    <div id="content_news">
        <article id="content_news_article">
            <h3>What's happening</h3>
            <mat-divider></mat-divider>
            <p><strong>Article</strong></p>
        </article>
        <article id="content_news_follow">
            
        </article>
    </div>
</section>