<section id="login">
    <!--
    <header>
        <h1>Green <br />Innovation</h1>
    </header>
    -->
    <div id="form_container">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <h1>Sign-in</h1>
            <div class="container">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="loginDefault()" type="submit" class="bg-blue" [disabled]="!loginform.valid">Login</button>
                <a href="#" class="forgot">Forgot password?</a>
                <fieldset>
                    <legend>or connected with</legend>
                    <img src="./google.svg" (click)="loginGoogle()"/>
                </fieldset>
            </div>
        </form>
    </div>
</section>